.preferences-form {
  background-color: #d9d9d9 !important;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  border: 1px solid;
  .configurations-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .preferences-form-container {
    padding: 5% 5% 5% 5%;
    .preferences-form-card {
      text-align: center;
      .preferences-form-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .preferences-form-sibling-set {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 10px;
          margin: 1% 0 0 0;
        }
        .preferences-select {
          margin: 8px 8px 8px 8px;
          min-width: 120px;
          text-align: left;
        }
        .preferences-slider-text {
          margin: 8px 8px 8px 8px;
          text-align: left;
          .preferences-slider {
            width: 97%;
            margin: auto;
          }
        }
        .preferences-text-field {
          margin: 8px 8px 8px 8px;
          min-width: 120px;
        }
        .preferences-form-priority-attributes-label {
          margin: 15px 0 8px 0 !important;
          text-align: left;
        }
      }
    }
  }
}

.city-response {
  background-color: whitesmoke !important;
  margin: 5% 5% 5% 5%;
  border: 1px solid;
  .city-response-content {
    border-radius: 10em;
    .city-response-text {
      margin-top: 5px;
      .title {
        font-weight: bold;
      }
    }
  }
  .city-response-details {
    margin-top: 20px;
  }
}

.header-bar {
  background-color: black !important;
  .header-bar-text {
    flex-grow: 1;
  }
}

#map-container {
  display: flex;
  justify-content: center;
  width: 85vw;
  height: 65vh;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 600
px) {
  #map-container {
    width: 100vw;
  }
}

@media (min-width: 1200px) {
  #map-container {
    width: 65vw;
  }
}

.mapboxgl-marker {
  cursor: pointer;
}

.footer {
  background-color: black !important;
  color: white;
  text-align: center;
  padding: 20px 0;
  .footer-link {
    color: white !important;
    text-decoration: none;
    margin: 0 10px;
  }
}
